body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.card{
    height: 140px;
    width: 280px;
    margin: 200px auto;
   text-align: center;
   padding: 20px;
    align-items: center;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 14px;
    background-color: rgb(249, 249, 255);
}
h3{
    font-size: 20px;
}
.btn{
    padding: 18px 28px;
   margin-top: 10px;
   border-radius: 14px;
   font-size: 16px;
   border: 1px solid rgb(194, 187, 187);
   background-color: transparent;
    
}
.btn:focus{
    outline: none;
    border: 1px solid orangered;
    background-color: transparent;
}